* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0;
    margin: 0 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: ivory;
    color: darkslategrey;
    font-weight: 600;
}

header {
    width: auto;
    height: 700px;
    background-image: url('assets/Layer\ 7.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header p {
    margin-top: 25px;
}

header img {
    display: none;
    /* height: 500px; */
}
/* Summry */
.summry {
    height: 500px;
    display: flex;
    flex-direction: column;
    /* padding: 50px 20px; */
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;
    text-align: center;
}

.summry img {
    width: 50px;
}

/* Grid1 */

.section1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;

    height: auto;
    background-color: white;

}

.section1 .big-pic {
    height: 200px;
    width: 100%;
    background-image: url('assets/Layer\ 10.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-repeat: no-repeat; */
}

.section1 .about-sec {
    margin-top: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.section1 .small-pic {
    height: 150px;
    width: 100%;
    background-image: url('assets/Layer\ 11.png');
    background-size: cover;
    background-position: center;
    
}
/* Section 2 */

.section2 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;

    height: auto;
    background-color: white;

}

.section2 .big-pic {
    height: 200px;
    width: 100%;
    background-image: url('assets/Layer\ 12.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-repeat: no-repeat; */
}

.section2 .about-sec {
    margin-top: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.section2 .small-pic {
    height: 150px;
    width: 100%;
    background-image: url('assets/Layer\ 13.png');
    background-size: cover;
    background-position: center;
    
    
}

/* Seciont 3 */
.section3 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;

    height: auto;
    background-color: white;

}

.section3 .mid-pic1 {
    height: 200px;
    width: 100%;
    background-image: url('assets/Layer\ 15.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-repeat: no-repeat; */
}

.section3 .mid-pic2 {
    height: 200px;
    width: 100%;
    background-image: url('assets/Layer\ 14.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-repeat: no-repeat; */
}

.section3 .about-sec {
    margin-top: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.section3 .small-pic {
    height: 150px;
    width: 100%;
    background-image: url('assets/Layer\ 16.png');
    background-size: cover;
    background-position: center;
    
    
}

span {
    opacity: .5;
}
















/* SMALL */

@media (min-width: 576px) {

    header {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }


    
}

/* MID */

@media (min-width: 990px) {
    header img {
        height: 100px;
        margin-top: 25px;
        display: inline;
    }
    
    header p {
        margin-top: 100px;
    }

    .summry {
        height: 350px;
    }

    .summry p {
        width: 60%;
    }

    .section1 {
        display: grid;
        height: 600px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "big-pic big-pic about-sec"
        "big-pic big-pic about-sec"
        "big-pic big-pic small-pic"
        ;
    }

    .section1 .big-pic {
        height: 600px;
        grid-area: big-pic;
    }

    .section1 .about-sec {
        height: 400px;
        grid-area: about-sec;
    }

    .section1 .small-pic {
        height: 200px;
        grid-area: small-pic;
    }

    /* Section 2 */

    .section2 {
        display: grid;
        height: 600px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "about-sec big-pic big-pic"
        "about-sec big-pic big-pic"
        "small-pic big-pic big-pic"
        ;
    }

    .section2 .big-pic {
        height: 600px;
        grid-area: big-pic;
    }

    .section2 .about-sec {
        height: 400px;
        grid-area: about-sec;
    }

    .section2 .small-pic {
        height: 200px;
        grid-area: small-pic;
    }

    /* section 3 */
    .section3 {
        display: grid;
        height: 600px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "mid-pic1 about-sec mid-pic2"
        "mid-pic1 about-sec mid-pic2"
        "mid-pic1 small-pic mid-pic2"
        ;
    }

    .section3 .mid-pic1 {
        height: 600px;
        grid-area: mid-pic1;
    }

    .section3 .mid-pic2 {
        height: 600px;
        grid-area: mid-pic2;
    }

    .section3 .about-sec {
        height: 400px;
        grid-area: about-sec;
    }

    .section3 .small-pic {
        height: 200px;
        grid-area: small-pic;
    }



















}

/* LARGE */

@media (min-width: 1400px) {
    header {
        height: 900px;
    }

    header {
        padding: 0 200px;

    }
}